

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  background-color: #F4E8FF; /* Soft lavender */
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.name {
  font-size: 23px;
  font-weight: 700;
  color: #5A2AE0;
}

.links a {
  margin: 0 16px;
  text-decoration: none;
  font-weight: 500;
  color: #222;
  transition: 0.3s;
}

.links a:hover {
  color: #7A43FF;
}

.signup {
  background: linear-gradient(90deg, #6B4EFF, #5A2AE0);
  color: white;
  padding: 7px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.signup:hover {
  opacity: 0.85;
}

.login {
  background-color: #fff;
  color: #5A2AE0;
  padding: 7px 18px;
  border-radius: 8px;
  border: 2px solid #5A2AE0;
  font-weight: 600;

  transition: 0.3s;
}

.login:hover {
  background: #5A2AE0;
  color: white;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
  color: #5A2AE0;
}

.mobile-menu {
  position: absolute;
  top: 70px;
  right: 20px;
  background: #f4f0ff;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.mobile-menu a {
  text-decoration: none;
  margin-bottom: 12px;
  color: #222;
  font-weight: 500;
}

@media (max-width: 768px) {
  .links,
  .buttons {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
